<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link th:href="@{/styles/list.css}" rel="stylesheet"/>
    <title>Activity List</title>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const timers = document.querySelectorAll("[data-start-time]");

            timers.forEach(timer => {
                const startTime = new Date(timer.getAttribute("data-start-time"));
                const timerElement = timer.querySelector("span");

                function updateTimer() {
                    const now = new Date();
                    const elapsed = now - startTime;
                    const seconds = Math.floor((elapsed / 1000) % 60);
                    const minutes = Math.floor((elapsed / (1000 * 60)) % 60);
                    const hours = Math.floor((elapsed / (1000 * 60 * 60)) % 24);

                    timerElement.textContent = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
                }

                updateTimer();
                setInterval(updateTimer, 1000);
            });
        });
    </script>
</head>
<body>
<div class="container flex flex-column">
    <h1>Activities</h1>

    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

    <div class="flex">
        <a th:href="@{/activities/new}" class="btn btn-primary">&#xFF0B Track activity</a>
    </div>

    <div th:if="${activities.isEmpty()}" class="empty-list">
        <p>No activities available. Please add some!</p>
    </div>

    <div th:each="activity : ${activities}" class="activity" th:attr="onclick=|window.location.href='/activities/${activity.id}'|" style="cursor: pointer;">
            <div class="activity-info-container">
                <h4 th:text="${activity.name}" class="activity-name lh-1"></h4>
                <p th:text="${activity.categoryName}" class="activity-category lh-1"></p>
            </div>
            <div th:if="${activity.isSessionActive}" th:attr="data-start-time=${activity.sessionStartTime}">
                <span id="timer-[[${activityView.activity.id}]]"></span>
                <span th:text="' / ' + ${activity.getTimeString()}"></span>
            </div>
            <div class="activity-actions">

                <form th:if="${!activity.isSessionActive}" th:action="@{'/sessions/' + ${activity.id} + '/start'}"
                      method="post">
                    <button type="submit" class="btn btn-success">Start Session</button>
                </form>
                <form th:if="${activity.isSessionActive}" th:action="@{'/sessions/' + ${activity.id} + '/stop'}"
                      method="post">
                    <button type="submit" class="btn btn-danger">Stop Session</button>
                </form>
                <a th:href="@{'/activities/' + ${activity.id} + '/edit'}" class="btn btn-outline-warning">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                </a>
                <form th:action="@{'/activities/' + ${activity.id}}" th:method="delete">
                    <button id="delete" type="submit" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                        </svg>
                    </button>
                </form>
            </div>
    </div>
</div>
</body>
</html>