<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <link th:href="@{/styles/list.css}" rel="stylesheet"/>
    <title>Activity List</title>
</head>
<body>
<div class="container">
    <h1>Activities</h1>
    <div class="add-button">
        <a th:href="@{/activities/new}">Add New Activity</a>
    </div>

    <div th:if="${activities.isEmpty()}">
        <p>No activities available. Please add some!</p>
    </div>

    <div th:each="activity : ${activities}" class="activity">
        <div class="activity-info">
            <h3 th:text="${activity.name}"></h3>
            <p th:text="'Description: ' + ${activity.description}"></p>
            <p th:text="'Category: ' + ${activity.category.name}"></p>
            <p th:text="'Type: ' + ${activity.activityType}"></p>
        </div>
        <div class="activity-actions">
            <form th:if="${activeSessions[activity.id] == false}" th:action="@{'/sessions/' + ${activity.id} + '/start'}" method="post">
                <button type="submit" class="green-btn">Start Session</button>
            </form>
            <form th:if="${activeSessions[activity.id] == true}" th:action="@{'/sessions/' + ${activity.id} + '/stop'}" method="post">
                <button type="submit" class="red-btn">Stop Session</button>
            </form>

            <form th:action="@{'/activities/' + ${activity.id}}" th:method="delete">
                <button id="delete" type="submit">Delete</button>
            </form>
            <a th:href="@{'/activities/' + ${activity.id} + '/edit'}">
                <button type="button">Edit</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>