<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/new-edit.css}" rel="stylesheet"/>
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Edit Activity</title>
</head>
<body>
<h1>Edit Activity</h1>
<div class="container">
    <form th:action="@{'/activities/' + ${activity.id}}" th:object="${activity}" th:method="put"
          class="mt-4 flex flex-column gap-4">
        <label for="name">Name
            <input type="text" id="name" name="name" th:field="*{name}" required class="form-control">
        </label>

        <label for="description">Description
            <input type="text" id="description" name="description" placeholder="Description" th:field="*{description}" class="form-control">
        </label>

        <label for="time">Goal Time (hh:mm)
            <input type="time" id="time" name="time" th:field="*{time}" class="form-control" onclick="this.showPicker()">
        </label>

        <label for="categoryName">Category
            <input id="categoryName" name="categoryName" list="categories" th:value="*{category?.name}"
                   placeholder="Select or add category" class="form-control" autocomplete="off">
            <datalist id="categories">
                <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}">
                </option>
            </datalist>
        </label>

        <label for="activityType">Type
            <select id="activityType" name="activityType" th:field="*{activityType}" class="form-select">
                <option value="GOAL">Goal</option>
                <option value="MAX_TIME">Max Time</option>
            </select>
        </label>


        <div class="flex gap-3">
            <button type="submit" class="btn btn-success">Save Changes</button>
            <a th:href="@{'/'}" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>