<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/new-edit.css}" rel="stylesheet"/>
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Time Tracker</title>
</head>
<body>
<div class="container">
    <h1>Time Tracker</h1>

    <form th:action="@{/activities}" th:object="${activity}" method="post" class="mt-4 flex flex-column gap-4">
        <label for="name">Activity Name
            <input type="text" id="name" name="name" th:field="*{name}" placeholder="Activity name" class="form-control">
        </label>

        <label for="description">Description
            <input type="text" id="description" name="description" th:field="*{description}" placeholder="Description" class="form-control">
        </label>

        <label for="time">Goal Time (hh:mm)
            <input type="time" id="time" name="time" th:field="*{time}" class="form-control" onclick="this.showPicker()">
        </label>

        <label for="category">Category
            <input id="category" name="categoryName" list="categories" th:field="*{categoryName}"
                   placeholder="Select or add category" class="form-control" autocomplete="off">
            <datalist id="categories">
                <option th:each="category : ${categories}" th:value="${category.name}"
                        th:text="${category.name}"></option>
            </datalist>
        </label>

        <label for="activityType">Type
            <select id="activityType" name="activityType" th:field="*{activityType}" class="form-select">
                <option value="GOAL">Goal (Minimum Time)</option>
                <option value="MAX_TIME">Max Time (Limit)</option>
            </select>
        </label>

        <p th:if="${#fields.hasErrors('name')}" class="text-danger m-0" th:errors="*{name}"></p>

        <div class="flex gap-3">
            <button type="submit" class="btn btn-success">Save Changes</button>
            <a th:href="@{'/'}" class="btn btn-danger">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>