<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Time Tracker</title>
</head>
<body>
<div class="container">
    <h1 class="mb-4">Errore: pagina non trovata</h1>
    <div class="flex justify-content-center">
        <a href="/" class="btn btn-primary">Torna alla home</a>
    </div>
</div>
</body>
</html>